body {
  background-image: url('./background.jpg');
  color: white, #ffffff;
   text-shadow: 1px .5px #000000b2; 
  
}

.powers {
 width: 40%;

}

h1 {
  /** border: solid 1px white; */
  color: #ffffff;
}

.holder {
  height: 75vh;
}

.enemyPic {
  max-height: 70%;
  max-width: 90%;
  min-width: 70%;
  
}